{% extends 'base.html.twig' %}

{% block title %}Company XXX{% endblock %}

{% block body %}

<!DOCTYPE html>

<html>
<body>
    <h3>Thank you for your message!</h3>
   <p><a href="{{ path('app_default') }}">Back to main page</a></p>
</body>
</html>

{% endblock %}