{% extends 'base.html.twig' %}

{% block title %}株式会社AKIRAM{% endblock %}

{% block body %}

<!DOCTYPE html>

<html>
<body>
    <h3>メッセージありがとうございます。</h3>
   <p><a href="{{ path('app_default') }}">ホームへ戻る</a></p>
</body>
</html>

{% endblock %}