/***********************************
*         幾何学的 エフェクト  　     *
***********************************/
/*
#effect_canvas {
}
*/

/************* エフェクト使用: jsと連動 ***************/
/************* 背景はhtmlコード内で指定 ***************/
#geometry_particlesjs {
    width              : 100%;      /* エフェクトを適応させる幅 */
    height             : 100vh;     /* エフェクトを適応させる高さ */
    background-size    : cover;     /* 写真を画面にすっぽり収める */
    background-position: center;    /* 写真を中心に配置 */
}